html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.parallax-container {
  position: relative;
}

/* Header */
.header-wrapper {
  position: relative;
  z-index: 1;
  background-color: white;
}

.header {
  padding: 250px 90px 100px 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 0;
  z-index: 1;
}

.header-headline {
  color: #0D111C;
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 200;
  padding-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
}

.header-headline span {
  display: inline-block;
  transform: translateY(100%);
}

.header-bodycopy {
  color: #163e9b;
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
}

/* Policy Section */
.policybody-wrapper {
  position: relative;
  height: 200vh; /* tall for scrolling */
  border-top: solid 2px #163e9b;
  z-index: 2;
}

.policybody {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  overflow: hidden;
}

.policybody-inner {
    will-change: transform;
}

.policybody-container {
  position: relative; /* crucial for transform */
  padding: 60px 90px;
  border-bottom: solid 2px #163e9b;
  background-color: white;
}

/* Terms rows */
.terms-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.terms-head {
  font-family: 'ChakraPetch', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #0D111C;
  padding-right: 5rem;
  flex: 0 40%;
  line-height: 40px;
}

.terms-copy {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: #163e9b;
  padding-top: .1rem;
  line-height: 20px;
  flex: 0 60%;
}

/* Footer */
.footer {
  position: relative;
  z-index: -2;
}
